openapi: 3.0.1
info:
  title: EazyShop Products APIs Definition
  description: |
      # About Us
      **EazyShop** is a open market product selling company. Any website can list our products by  using our _APIs_. Shipping & other logistics will be taken care by us. You will get an `Affiliate commision` for selling our products.
      # Categories suported
        - Mobiles
          - Apple
          - Samsung
          - OnePlus
        - Laptops
        - Televisions
        - Headphones
  termsOfService: https://eazyshop.com/terms/
  contact:
    name: API Support
    url: https://www.eazyshop.com/support
    email: support@eazyshop.com
  license:
    name: EazyShop License
    url: https://www.eazyshop.com/licenses/LICENSE-2.0.html
  version: 0.0.1
servers:
  - url: https://development.eazyshop-server.com/v1
    description: Development server
  - url: https://staging.eazyshop-server.com/v1
    description: Staging server
  - url: https://production.eazyshop-server.com/v1
    description: Production server
  - url: https://{username}.eazyshop-server.com:{port}/{version}
    description: Production server
    variables:
      username:
        default: demo
        description: This value is assigned by the service provier.
      port:
        enum:
          - "8443"
          - "443"
        default: "8443"
      version:
        default: v1
tags:
  - name: Categories
    description: |
      Categories - related operations
  - name: Products
    description: |
      Products - related operations
  - name: Orders
    description: |
      Orders - related operations
paths:
  /categories:
    get:
      tags:
        - Categories
      summary: List all categories
      description: Returns the list of categories supported by EazyShop
      operationId: getCategories
      parameters:
        - $ref: "#/components/parameters/categoryIdQueryParam"
      responses:
        200:
          description: A list of categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Category"
              examples:
                all-categories-data:
                  summary: Categories example data
                  value:
                    - categoryId: 101
                      name: Mobiles
                    - categoryId: 102
                      name: Laptops
                    - categoryId: 103
                      name: Headphones
                    - categoryId: 104
                      name: Televisions
                single-category-data:
                  summary: Single category example data
                  value:
                    - categoryId: 101
                      name: Mobiles
        500:
          $ref: "#/components/responses/InternalServerError"
  /categories/{categoryId}:
    get:
      tags: 
        - Categories
      summary: Category details
      description: Returns a category details from EazyShop
      operationId: getCategoryDetails
      parameters:
        - $ref: "#/components/parameters/categoryIdPathParam"
      responses:
        200:
          description: A category
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        500:
          $ref: "#/components/responses/InternalServerError"
  /products:
    get:
      tags:
        - Products
      summary: List al products
      description: Return all products from EazyShop
      operationId: getProducts
      parameters:
        - $ref: "#/components/parameters/categoryIdQueryParam"
      responses:
        200:
          description: A list of products
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Product"
              examples:
                products-data:
                  summary: Products example data
                  value:
                    - productId: 101
                      name: Apple IPhone 13 Pro
                      price: 999.99
                      releaseDate: 2024-12-10T15:38:57.215Z
                      categoryName: Mobiles
                      quantity: 96
                    - productId: 102
                      name: Samsung S22 Ultra
                      price: 899.11
                      releaseDate: 2024-12-10T15:38:57.215Z
                      categoryName: Mobiles
                      quantity: 121
                    - productId: 103
                      name: OnePlus 10 Pro 5G
                      price: 750.25
                      releaseDate: 2024-12-10T15:38:57.215Z
                      categoryName: Mobiles
                      quantity: 67
        500:
          $ref: "#/components/responses/InternalServerError"
  /products/{productId}:
    get:
      tags:
        - Products
      summary: Product details
      description: Returns a product
      operationId: getProductDetails
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: integer
            minimum: 100
            maximum: 1000
          example: 101
      responses:
        200:
          description: Product details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        500:
          $ref: "#/components/responses/InternalServerError"
  /orders:
    post:
      tags:
        - Orders
      summary: Create order
      description: |
        Post order etails to EazyShop for procesing and shipping
      operationId: createOrderDetails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                products:
                  type: array
                  items:
                    $ref: "#/components/schemas/Product"
      responses:
        201:
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
          links:
            GetOrderByOrderId:
              $ref: "#/components/links/GetOrderByOrderId"
        500:
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
        - Orders
      summary: Update order
      description: |
        Post order etails to EazyShop for procesing and shipping
      operationId: updateOrderDetails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: integer
                products:
                  type: array
                  items:
                    $ref: "#/components/schemas/Product"
                address:
                  $ref: "#/components/schemas/Address"
      responses:
        201:
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
        500:
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
        - Orders
      summary: Delete order
      description: Delete order details from EazyShop
      operationId: deleteOrderDetails
      parameters:
        - $ref: "#/components/parameters/orderIdQueryParam"
      responses:
        204:
          description: Order cancelled successfully
        500:
          $ref: "#/components/responses/InternalServerError"
    get:
      tags:
        - Orders
      summary: Get order details
      description: Returns order details from EazyShop
      operationId: getOrderDetails
      parameters:
        - $ref: "#/components/parameters/orderIdQueryParam"
      responses:
        200:
          description: Order details
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
                  address:
                    $ref: "#/components/schemas/Address"
                  products:
                    type: array
                    items:
                      $ref: "#/components/schemas/Product"
        500:
          $ref: "#/components/responses/InternalServerError"
  /orders/{orderId}:
    get:
      tags:
        - Orders
      summary: Get Order Details
      description: Get order details from EazyShop
      operationId: getOrderDetailsUsingPathParam
      deprecated: true
      parameters:
        - $ref: "#/components/parameters/orderIdPathParam"
      responses:
        '200':
          description: Fetch Order details successfully
          content:
            application/json:
              schema: 
                type: object
                properties:
                  orderId:
                    type: integer
                  products:
                    type: array
                    items:
                      $ref: "#/components/schemas/Product"
                  address:
                    $ref: "#/components/schemas/Address"
        '500':
          $ref: "#/components/responses/InternalServerError"
  /oneOfOrder:
    post:
      tags:
        - Orders
      summary: Insert OneOf the Order Details
      description: Insert OneOf the Order Details into EazyShop
      operationId: demoOfOneOf
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                product:
                  type: object
                  oneOf:
                    - $ref: "#/components/schemas/Mobile"
                    - $ref: "#/components/schemas/Laptop"
                address:
                  $ref: "#/components/schemas/Address"
              required: [product, address]
      responses:
        200: 
          description: Order placed successfully
  /anyOfOrder:
    get:
      tags:
      - Orders
      summary: Get Order Details
      description: Get Order Details based on Order ID
      operationId: demoOfAnyOf
      parameters:
        - $ref: "#/components/parameters/orderIdQueryParam"
        - name: fetchType
          in: query
          required: true
          schema:
            type: string
            enum:
              - summary
              - details
          description: >
            Fetch Type:
             * `summary` - Will provide Order Summary
             * `details` - Will provide Order Summary & Order Address
      responses:
        '200':
          description: Return product details
          content:
            application/json:
              schema:
               anyOf:
                - $ref: '#/components/schemas/OrderSummary'
                - $ref: '#/components/schemas/OrderAddress'   
components:
  parameters:
    orderIdQueryParam:
      name: orderId
      in: query
      required: true
      schema:
        type: integer
      example: 101
    orderIdPathParam:
      name: orderId
      in: path
      required: true
      schema:
        type: integer
    categoryIdQueryParam:
      name: categoryId
      in: query
      schema:
        type: integer
        minimum: 100
        maximum: 1000
      examples:
        mobiles:
          value: 101
        laptops:
          value: 102
        headphones:
          value: 103
        televisions:
          value: 104
    categoryIdPathParam:
      name: categoryId
      in: path
      required: true
      schema:
        type: integer
        minimum: 100
        maximum: 1000
      example: 101
  schemas:
    Address:
      type: object
      properties:
        addressLine1:
          type: string
        city:
          type: string
        state:
          type: string
          enum:
            - Spain
            - France
            - Germany
        zipCode:
          type: string
      required: [addressLine1, city, state, zipCode]
    Product:
      type: object
      properties:
        productId:
          type: integer
        price:
          type: number
          format: float
        categoryName:
          type: string
        releaseDate:
          type: string
          format: date-time
          readOnly: true
        quantity:
          type: integer
          description: |
            ***Quantity*** represents `stock` value when this field is being sent by EazyShop.Where as in the scenarios of consumer sending this feild, it represents `number of product items` inside the order. Consumers are expected to handle the scenario of stopping the end user <u>*when the stock value is 0*</u>
    Category:
      type: object
      properties:
        categoryId:
          type: integer
        name:
          type: string
    Mobile:
      allOf:
       - $ref: "#/components/schemas/Product"
       - type: object
         properties:
          networkType:
            type: string
            enum:
              - 4G
              - 5G
         required: [networkType]
    Laptop:
      allOf:
        - $ref: "#/components/schemas/Product"
        - type: object
          properties:
            ram:
              type: string
              enum:
                - 8GB
                - 16GB
                - 32GB
          required: [ram]
    OrderSummary:
      type: object
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
    OrderAddress:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/Address'
  responses:
    InternalServerError:        
      description: |
        An error occured while processing the request.
        Please contact support@eazyshop.com
  links:
    GetOrderByOrderId:
      description: >
        The `orderId` value returned in the response can be used as input parameter in `GET /orders`.
      operationId: getOrderDetails
      parameters:
        orderId: '$response.body#/orderId'
 